# Core
SECRET_KEY=django-insecure-@o0unms!l=(u@#8p1-4t1+#4n!(htv*@#0!cfkqt6s%2tmfhnv
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*
DATA_DIR=.

# Database (Путь к SQLite файлу)
DATABASE_URL=sqlite:///db.sqlite3

# CORS (Домены фронтенда для разработки, через запятую)
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost:5173,maximus.stekufa.ru,maximus.ru

# Redis & Celery
REDIS_URL=redis://127.0.0.1:6379/0
CELERY_BROKER_URL=redis://127.0.0.1:6379/1
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/1

# Profitbase
PROFITBASE_FEED_URL=https://pb6620.profitbase.ru/export/profitbase_xml/fe6b2658da373993605b6983d81180cb?scheme=https